@media screen and (min-width: 1701px) {
    .gs-container {
        width: 100%;
        display: flex;
        margin-bottom: 200px;

        .stats-block {
            width: 60%;
            align-items: center;

            display: grid;
            grid-template: repeat(1, 1fr) / repeat(4, 1fr);
            gap: 10%;
            padding: 0 5% 0 5%;

            .gs-container-stats-item {
                display: flex;

                .main-text {
                    line-height: 40px;
                    font-weight: 400;
                }
                .second-text {
                    font-weight: 400;
                    max-width: 60px;
                    margin-left: 10px;
                }
                .desc-text {
                    max-width: 160px;

                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }

        .get-started-block {
            padding: 0 5% 0 0;
            width: 40%;
            display: flex;
            align-items: center;

            &-text {
                left: 0;
                width: 200px;
            }
        }

        &-button {
            cursor: pointer;
            margin-right: 0%;
            
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #00FFF0;

            height: 19px;
            width: 130px;

            margin-left: auto;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 14px 30px;
            gap: 10px;

            background: #00002D;
            border: 1px solid #00FFF0;
            border-radius: 10px;

            box-shadow: 0px 0px 38px -16px rgba(0,255,240,1);
        }

        &-button:hover {
            color: black;
            background-color: #00FFF0;
            box-shadow: none;
        }
    }
}






// =============   < 1700   ==============




@media screen and (max-width: 1701px) and (min-width: 1501px) {
    .gs-container {
        width: 100%;
        display: flex;
        margin-bottom: 200px;

        .stats-block {
            width: 60%;
            align-items: center;

            display: grid;
            grid-template: repeat(1, 1fr) / repeat(4, 1fr);
            gap: 7%;
            padding: 0 5% 0 5%;

            .gs-container-stats-item {
                display: flex;

                .main-text {
                    line-height: 40px;
                    font-weight: 400;
                }
                .second-text {
                    font-weight: 400;
                    max-width: 60px;
                    margin-left: 10px;
                }
                .desc-text {
                    max-width: 160px;

                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }

        .get-started-block {
            padding: 0 5% 0 0;
            width: 40%;
            display: flex;
            align-items: center;

            &-text {
                
                // left: 50px;
                // margin-left: 50px;
                width: 200px;
            }
        }

        &-button {
            cursor: pointer;
            margin-right: 0%;
            
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #00FFF0;

            height: 19px;
            width: 130px;

            margin-left: auto;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 14px 30px;
            gap: 10px;

            background: #00002D;
            border: 1px solid #00FFF0;
            border-radius: 10px;

            box-shadow: 0px 0px 38px -16px rgba(0,255,240,1);
        }

        &-button:hover {
            color: black;
            background-color: #00FFF0;
            box-shadow: none;
        }
    }
}





// =============   < 1500   ==============




@media screen and (max-width: 1501px) and (min-width: 1441px) {
    .gs-container {
        width: 100%;
        display: flex;
        margin-bottom: 200px;

        .stats-block {
            width: 60%;
            align-items: center;

            display: grid;
            grid-template: repeat(1, 1fr) / repeat(4, 1fr);
            gap: 5%;
            padding: 0 5% 0 5%;

            .gs-container-stats-item {
                display: flex;

                .main-text {
                    line-height: 40px;
                    font-weight: 400;
                }
                .second-text {
                    font-weight: 400;
                    max-width: 60px;
                    margin-left: 10px;
                }
                .desc-text {
                    max-width: 160px;

                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }

        .get-started-block {
            padding: 0 5% 0 0;
            width: 40%;
            display: flex;
            align-items: center;

            &-text {
                
                // left: 50px;
                // margin-left: 50px;
                width: 200px;
            }
        }

        &-button {
            cursor: pointer;
            margin-right: 0%;
            
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #00FFF0;

            height: 19px;
            width: 130px;

            margin-left: auto;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 14px 30px;
            gap: 10px;

            background: #00002D;
            border: 1px solid #00FFF0;
            border-radius: 10px;

            box-shadow: 0px 0px 38px -16px rgba(0,255,240,1);
        }

        &-button:hover {
            color: black;
            background-color: #00FFF0;
            box-shadow: none;
        }
    }
}





// =============   < 1440   ==============




@media screen and (max-width: 1441px) and (min-width: 1025px) {
    .gs-container {
        width: 100%;
        // display: flex;
        margin-bottom: 300px;

        .stats-block {
            width: 100%;
            align-items: center;
            position: relative;

            display: grid;
            grid-template: repeat(1, 1fr) / repeat(4, 1fr);
            gap: 5%;
            padding: 0 5% 0 5%;

            .gs-container-stats-item {
                display: flex;

                .main-text {
                    line-height: 40px;
                    font-weight: 400;
                }
                .second-text {
                    font-weight: 400;
                    max-width: 60px;
                    margin-left: 10px;
                }
                .desc-text {
                    max-width: 160px;

                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }

        .get-started-block {
            position: absolute;
            margin-left: auto;
            
            padding: 0 5% 0 5%;
            margin-top: 70px;
            width: 90%;
            align-items: center;

            &-text {
                text-align: center;
            }
        }

        &-button {
            margin: 40px auto 0 auto;
            cursor: pointer;
            
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #00FFF0;

            height: 19px;
            width: 130px;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 14px 30px;
            gap: 10px;

            background: #00002D;
            border: 1px solid #00FFF0;
            border-radius: 10px;

            box-shadow: 0px 0px 38px -16px rgba(0,255,240,1);
        }

        &-button:hover {
            color: black;
            background-color: #00FFF0;
            box-shadow: none;
        }
    }
}





// =============   < 1024   ==============




@media screen and (max-width: 1025px) and (min-width: 861px) {
    .gs-container {
        width: 100%;
        // display: flex;
        margin-bottom: 300px;

        .stats-block {
            width: 100%;
            align-items: center;
            position: relative;
            // justify-content: right;

            display: grid;
            grid-template: repeat(1, 1fr) / repeat(4, 1fr);
            // gap: 5%;
            padding: 0 5% 0 5%;

            .gs-container-stats-item {
                display: flex;

                .main-text {
                    line-height: 40px;
                    font-weight: 400;
                }
                .second-text {
                    font-weight: 400;
                    max-width: 60px;
                    margin-left: 10px;
                }
                .desc-text {
                    max-width: 160px;

                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }

        .get-started-block {
            position: absolute;
            margin-left: auto;
            
            padding: 0 5% 0 5%;
            margin-top: 70px;
            width: 90%;
            align-items: center;

            &-text {
                text-align: center;
            }
        }

        &-button {
            margin: 40px auto 0 auto;
            cursor: pointer;
            
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #00FFF0;

            height: 19px;
            width: 130px;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 14px 30px;
            gap: 10px;

            background: #00002D;
            border: 1px solid #00FFF0;
            border-radius: 10px;

            box-shadow: 0px 0px 38px -16px rgba(0,255,240,1);
        }

        &-button:hover {
            color: black;
            background-color: #00FFF0;
            box-shadow: none;
        }
    }
}





// =============   < 860   ==============




@media screen and (max-width: 861px) and (min-width: 769px) {
    .gs-container {
        width: 100%;
        // display: flex;
        margin-bottom: 300px;

        .stats-block {
            width: 100%;
            align-items: center;
            position: relative;
            // justify-content: right;

            display: grid;
            grid-template: repeat(1, 1fr) / repeat(4, 0fr);
            gap: 3%;
            padding: 0 5% 0 5%;

            .gs-container-stats-item {
                display: flex;

                .main-text {
                    line-height: 40px;
                    font-weight: 400;
                }
                .second-text {
                    font-weight: 400;
                    max-width: 60px;
                    margin-left: 10px;
                }
                .desc-text {
                    max-width: 160px;

                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }

        .get-started-block {
            position: absolute;
            margin-left: auto;
            
            padding: 0 5% 0 5%;
            margin-top: 70px;
            width: 90%;
            align-items: center;

            &-text {
                text-align: center;
            }
        }

        &-button {
            margin: 40px auto 0 auto;
            cursor: pointer;
            
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #00FFF0;

            height: 19px;
            width: 130px;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 14px 30px;
            gap: 10px;

            background: #00002D;
            border: 1px solid #00FFF0;
            border-radius: 10px;

            box-shadow: 0px 0px 38px -16px rgba(0,255,240,1);
        }

        &-button:hover {
            color: black;
            background-color: #00FFF0;
            box-shadow: none;
        }
    }
}





// =============   < 768   ==============




@media screen and (max-width: 769px) and (min-width: 601px) {
    .gs-container {
        width: 100%;
        // display: flex;
        margin-bottom: 300px;

        .stats-block {
            width: 100%;
            align-items: center;
            position: relative;
            // justify-content: right;

            display: grid;
            grid-template: repeat(2, 1fr) / repeat(2, 1fr);
            gap: 30px 100px;
            padding: 0 5% 0 5%;

            .gs-container-stats-item {
                display: flex;

                .main-text {
                    line-height: 40px;
                    font-weight: 400;
                }
                .second-text {
                    font-weight: 400;
                    max-width: 60px;
                    margin-left: 10px;
                }
                .desc-text {
                    max-width: 160px;

                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }

        .get-started-block {
            position: absolute;
            margin-left: auto;
            
            padding: 0 5% 0 5%;
            margin-top: 70px;
            width: 90%;
            align-items: center;

            &-text {
                text-align: center;
            }
        }

        &-button {
            margin: 40px auto 0 auto;
            cursor: pointer;
            
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #00FFF0;

            height: 19px;
            width: 130px;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 14px 30px;
            gap: 10px;

            background: #00002D;
            border: 1px solid #00FFF0;
            border-radius: 10px;

            box-shadow: 0px 0px 38px -16px rgba(0,255,240,1);
        }

        &-button:hover {
            color: black;
            background-color: #00FFF0;
            box-shadow: none;
        }
    }
}






// =============   < 600   ==============




@media screen and (max-width: 601px) and (min-width: 481px) {
    .gs-container {
        width: 100%;
        // display: flex;
        margin-bottom: 300px;

        .stats-block {
            width: 100%;
            align-items: center;
            position: relative;

            display: grid;
            grid-template: repeat(2, 1fr) / repeat(2, 1fr);
            gap: 30px 30px;
            padding: 0 5% 0 5%;

            .gs-container-stats-item {
                display: flex;

                .main-text {
                    line-height: 40px;
                    font-size: 40px;
                    font-weight: 400;
                }
                .second-text {
                    font-weight: 400;
                    max-width: 60px;
                    margin-left: 10px;
                }
                .desc-text {
                    max-width: 160px;

                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }

        .get-started-block {
            position: absolute;
            margin-left: auto;
            
            padding: 0 5% 0 5%;
            margin-top: 70px;
            width: 90%;
            align-items: center;

            &-text {
                text-align: center;
            }
        }

        &-button {
            margin: 40px auto 0 auto;
            cursor: pointer;
            
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #00FFF0;

            height: 19px;
            width: 130px;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 14px 30px;
            gap: 10px;

            background: #00002D;
            border: 1px solid #00FFF0;
            border-radius: 10px;

            box-shadow: 0px 0px 38px -16px rgba(0,255,240,1);
        }

        &-button:hover {
            color: black;
            background-color: #00FFF0;
            box-shadow: none;
        }
    }
}






// =============   < 480   ==============




@media screen and (max-width: 481px) and (min-width: 421px) {
    .gs-container {
        width: 100%;
        margin-bottom: 300px;

        .stats-block {
            width: 100%;
            align-items: center;
            position: relative;

            display: grid;
            grid-template: repeat(2, 1fr) / repeat(2, 1fr);
            gap: 30px 30px;
            padding: 0 3% 0 3%;

            .gs-container-stats-item {
                display: flex;

                .main-text {
                    line-height: 40px;
                    font-size: 40px;
                    font-weight: 400;
                }
                .second-text {
                    font-weight: 400;
                    max-width: 60px;
                    margin-left: 10px;
                }
                .desc-text {
                    max-width: 160px;

                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }

        .get-started-block {
            position: absolute;
            margin-left: auto;
            
            padding: 0 3% 0 3%;
            margin-top: 50px;
            width: 94%;
            align-items: center;

            &-text {
                text-align: center;
            }
        }

        &-button {
            margin: 30px auto 0 auto;
            cursor: pointer;
            
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #00FFF0;

            height: 19px;
            width: 130px;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 14px 30px;
            gap: 10px;

            background: #00002D;
            border: 1px solid #00FFF0;
            border-radius: 10px;

            box-shadow: 0px 0px 38px -16px rgba(0,255,240,1);
        }

        &-button:hover {
            color: black;
            background-color: #00FFF0;
            box-shadow: none;
        }
    }
}





// =============   < 420   ==============




@media screen and (max-width: 421px) and (min-width: 371px) {
    .gs-container {
        width: 100%;
        margin-bottom: 300px;

        .stats-block {
            width: 100%;
            align-items: center;
            position: relative;

            display: grid;
            grid-template: repeat(2, 1fr) / repeat(2, 0fr);
            gap: 30px 20px;
            padding: 0 3% 0 3%;

            .gs-container-stats-item {
                display: flex;

                .main-text {
                    line-height: 40px;
                    font-size: 40px;
                    font-weight: 400;
                }
                .second-text {
                    font-weight: 400;
                    max-width: 60px;
                    margin-left: 10px;
                }
                .desc-text {
                    max-width: 160px;

                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }

        .get-started-block {
            position: absolute;
            margin-left: auto;
            
            padding: 0 3% 0 3%;
            margin-top: 50px;
            width: 94%;
            align-items: center;

            &-text {
                text-align: center;
            }
        }

        &-button {
            margin: 30px auto 0 auto;
            cursor: pointer;
            
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #00FFF0;

            height: 19px;
            width: 130px;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 14px 30px;
            gap: 10px;

            background: #00002D;
            border: 1px solid #00FFF0;
            border-radius: 10px;

            box-shadow: 0px 0px 38px -16px rgba(0,255,240,1);
        }

        &-button:hover {
            color: black;
            background-color: #00FFF0;
            box-shadow: none;
        }
    }
}





// =============   < 370   ==============




@media screen and (max-width: 371px) and (min-width: 0px) {
    .gs-container {
        width: 100%;
        margin-bottom: 300px;

        .stats-block {
            width: 100%;
            align-items: center;
            position: relative;

            display: grid;
            grid-template: repeat(4, 1fr) / repeat(1, 0fr);
            gap: 30px 20px;
            padding: 0 3% 0 3%;

            .gs-container-stats-item {
                display: flex;

                .main-text {
                    line-height: 40px;
                    font-size: 40px;
                    font-weight: 400;
                }
                .second-text {
                    font-weight: 400;
                    max-width: 60px;
                    margin-left: 10px;
                }
                .desc-text {
                    max-width: 160px;

                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }

        .get-started-block {
            position: absolute;
            margin-left: auto;
            
            padding: 0 3% 0 3%;
            margin-top: 50px;
            width: 94%;
            align-items: center;

            &-text {
                text-align: center;
            }
        }

        &-button {
            margin: 30px auto 0 auto;
            cursor: pointer;
            
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #00FFF0;

            height: 19px;
            width: 130px;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 14px 30px;
            gap: 10px;

            background: #00002D;
            border: 1px solid #00FFF0;
            border-radius: 10px;

            box-shadow: 0px 0px 38px -16px rgba(0,255,240,1);
        }

        &-button:hover {
            color: black;
            background-color: #00FFF0;
            box-shadow: none;
        }
    }
}